@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,500,700,900);
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);

/* Colors and fonts */
body {
  background: #F7F9FC;
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
  width: 700px;
  margin: 40px auto;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}

.container {
  text-align: center;
  width: 700px;
  margin: 40px auto;
  background: white;
  padding: 50px;
  border: 1px solid lightgrey;
  align-items: center;
}


.profile-image {
  margin-top: 50px;
  width: 30%;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
  margin: auto;
}
.profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}




.card-text-center {
  text-align: center;
  width: 700px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border: 1px solid lightgrey;

}

/* Design adjustments using id (1% design remaining) */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

